body{
  background-image: linear-gradient(to right, rgba(207, 207, 207, 0), rgb(0 0 0));
  font-family: "Montserrat", sans-serif;
}
p{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  outline: none ;
}